<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

<head>
    <title>MAI-Prediction</title>
</head>

<body>

    <div class="navigation_bar">
        <a class="active" href="#">Home</a>
        <a href="./cancer.html">Cancer</a>
        <a href="./diabetes.html">Diabetes</a>
        <a href="./heart.html">Heart</a>
        <a href="./kidney.html">Kidney</a>
        <a href="./liver.html">Liver</a>
    </div>

    Hello World..
</body>

</html>